/*reset css*/
html, body, div, h1, h2, h3, h4, h5, h6, p, img, 
dl, dt, dd, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration:none;
}

/* content */
body {
	background-color: #dedede;
	background-image: url('images/food.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	line-height: 1.75em;
	font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
	font-weight: 300;
	color: #555;
	font-size: 1em;
}

h2,h3,h4 {
	font-family: 'Open Sans Condensed', Verdana, Helvetica, sans-serif;
	font-weight: 400;
	letter-spacing: 0.08em;
	color: #b6c2de;
	text-align: left;
	
}

h5 {
	color: #b6c2de;
	font-size:large;
	
}

h6 {
	color: #b6c2de;
	font-size:x-large;
	text-shadow: 0px 0px 5px #3333CC;
	
}

input[type=text] {
    border: 1px #ddd solid; 
   	width: 14.4em;
   	height: 0.2em;
    padding: 0.75em;
    background-color: #d1d5de;
	font-size: 0.8em;
	color: #333;
	border-radius: 0.15em;
}

#wrapper {
	position: relative;
}
/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

#nav {
	opacity:1;
	left:0;	
	float: left;
	position: absolute;
	top: 4.9em;
	width: 17.7em; 
	background: rgba(39, 40, 62, 0.7);
	box-shadow: 0.2em 0 0.4em rgba(0,0,0,0.2);
	z-index: 105;
}

#nav li {
	border-top: solid 1px rgba(0,0,0,0.25);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.075);
}

#nav li a {
	display: block;
	text-align: left;
	padding: 0.35em 0 0.45em 2.75em;
	text-decoration: none;
	-moz-transition: background-color .25s ease-in-out, color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out;
	-o-transition: background-color .25s ease-in-out, color .25s ease-in-out;
	-ms-transition: background-color .25s ease-in-out, color .25s ease-in-out;
	transition: background-color .25s ease-in-out, color .25s ease-in-out;
	color: #b6c2de;
}

#nav li:hover a {
	background-color: rgba(200,225,255,0.1);
	color: #fff;
}

/*********************************************************************************/
/* Cuisines                                                                       */
/*********************************************************************************/
.cuisines {
	opacity:0;
	left:-300px;	
	float: left;
	position: absolute;
	top: 4.9em;
	width: 17.7em; 
	background: rgba(39, 40, 62, 0.7);
	box-shadow: 0.2em 0.2em 0.4em rgba(0,0,0,0.2);
	z-index: 105;
}

.cuisines li {
	border-top: solid 1px rgba(0,0,0,0.25);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.075);
}

.cuisines li a {
	display: block;
	text-align: left;
	padding: 0.35em 0 0.45em 2.75em;
	text-decoration: none;
	-moz-transition: background-color .25s ease-in-out, color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out;
	-o-transition: background-color .25s ease-in-out, color .25s ease-in-out;
	-ms-transition: background-color .25s ease-in-out, color .25s ease-in-out;
	transition: background-color .25s ease-in-out, color .25s ease-in-out;
	color: #b6c2de;
}

.cuisines li:hover a {
	background-color: rgba(200,225,255,0.1);
	color: #fff;
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

#sidebar {
	float: left;
	position: relative;
	top: 0;
	width: 20%; 
	background: rgba(39, 40, 62, 0.7);
	box-shadow: 0.2em 0 0.4em rgba(0,0,0,0.2);
}

.ui-widget{
	border-top: solid 1px rgba(0,0,0,0.25);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.075);
	padding:0.5em 0 0.7em 1.6em;
	z-index: 110;
	color:#999;
}

.header{
	border-top: solid 1px rgba(0,0,0,0.25);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.075);
	padding:0.7em 0 0.7em 1.7em;
}

#buttonContainer {
	opacity:0;
	left:-300px;	
	float: left;
	position: absolute;
	top: 4.9em;
	background: rgba(39, 40, 62, 0.7);
	box-shadow: 0.2em 0.2em 0.4em rgba(0,0,0,0.2);
	z-index: 105;
	padding:1.65em;
}

#searchButton {
	background: rgba(85, 151, 183, 1.0);
	margin-left: auto;
	margin-right: auto;
	padding: 0.5em 3.15em 0.5em 3.15em;
	border-bottom: 0.2em #427e9b solid;
	letter-spacing: 1px;
	cursor: pointer;
	font-size: 1.3em;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 400;
	color: #e6f0f5;
	text-align: center;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}

#searchButton:hover { 
	background: #427e9b;
}


/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/
#logo {
	background-color: rgba(195,27,0,1);
	text-shadow: -1px -1px 0px rgba(0,0,0,0.4);
	padding: 1.4em 0 1.4em 1.7em;
	text-align: left;
	height:2.1em;
	float: left;
	position: relative;
	top: 0;
	width: 16em; 
	box-shadow: 0.2em 0.2em 0.4em rgba(0,0,0,0.2);
	z-index: 105;
}

#logo h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	color: #f6f8ea;
	font-size: 2.1em;
	letter-spacing: 0.15em;
}


/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/
		

#content {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	background-color: rgba(255,255,255,0.75);
	display: inline-block;
	padding: 0 0 7em 28em;
	float:left;
	z-index: 100;
	opacity:0;
}

#content:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	opacity: 0.5;
}

#content-inner {
	position: relative;
	z-index: 1;
	opacity:0;
}

circle 
{
	fill: rgb(31, 119, 180);
	fill-opacity: .25;
	stroke: rgb(31, 119, 180);
	stroke-opacity: 0.5;
	stroke-width: 1px;
}

.leaf circle 
{
	fill: #98ca5c;
	fill-opacity: 1;
	stroke: #79ad3c;
	stroke-opacity: 1;
	stroke-width: 1px;
}

text 
{
	font: 11px 'Open Sans', Verdana, Helvetica, sans-serif;
	font-color:#b6c2de;
}